body {
  background: #e5e4e4;
  font-family: "Avenir Next", sans-serif;
}

h1, h2 {
  color: #007da9;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.top-separation {
  margin-top:30px;
}

#questions .row:first-child {
  margin-top:0 !important;
}

.btn-primary {
  background-color: #007da9;
  border-color: #007da9;
}

.btn-primary:hover {
  background-color: white;
  color: #007da9;
}
